<h2 class="animate__animated animate__bounce">Por Region</h2>
<hr>
<h5>Seleccione la región</h5>
<div class="row animate__animated animate__heartBeat">
    <div class="col">
        <!-- [class.btn-primary]="region == regionActiva" -->
        <!--La mas comun [ngClass]="{'btn-primary':region ===regionActiva, 'btn-outline-primary': region !==regionActiva}" -->
        <!-- [class] ="region === regionActiva ? 'btn-primary' : 'btn-outline-primary'" -->
    
        <button class="btn animate__animated animate__rotateIn" [class]="getClassCss(region)" *ngFor="let region of regiones"   (click)="activarRegion(region)" >{{region | titlecase}} </button>
    </div>
</div>

<div *ngIf="paises.length!==0" class = "row  animate__animated animate__fadeInUp">
    <div class = "col">
        <app-pais-table [paisesI]="paises"></app-pais-table>
    </div>
</div>
